{{ define "body" }}
    <style> alignment: [center, start] </style>
    <text eid="title">This is a blog.</text>
    <text groups="fill of-scroll" eid="blog">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet nisi
eget volutpat facilisis. Fusce rhoncus convallis erat vestibulum gravida.
Proin in aliquam odio. Donec fermentum tortor sed dolor condimentum, nec
euismod tellus rutrum. Cras quis ultrices nisi. Suspendisse potenti. Proin
lacinia velit id malesuada mollis. Vestibulum hendrerit ut urna at volutpat.
Morbi fringilla eros nec interdum iaculis. Duis elementum dolor ut mauris
condimentum volutpat.

Suspendisse euismod ac libero et pellentesque. In euismod sit amet leo ut
finibus. In [red]pulvinar, est vel mollis porttitor, diam enim ornare metus, eu
auctor eros ante at magna. Etiam lacinia elit dictum aliquam venenatis. Nunc
sodales rutrum dolor non vehicula. Phasellus accumsan, diam nec semper mattis,
turpis risus elementum mauris, vitae semper quam orci sed lorem. Sed sit amet
sem eget elit luctus varius ac non neque. Nunc at tincidunt felis.

Etiam hendrerit nulla est, et bibendum ex condimentum eu. Proin justo erat,
fringilla a gravida eget, facilisis quis lectus. Fusce viverra sit amet sapien
nec bibendum. Sed ultrices turpis non nisl placerat, quis vehicula dui mollis.
Proin rhoncus dolor nec placerat aliquet. Nulla dignissim, sem eu elementum
tempus, risus tortor tincidunt eros, a finibus metus ligula imperdiet ante.
Cras vel nisl lu[@blue]ctus, vehicula lacus ac, pretium mi. Nunc tincidunt ante ac
molestie vehicula. Sed hendrerit sollicitudin aliquet. Aenean dui leo, maximus
eget interdum sit amet, vehicula a risus. In vulputate volutpat facilisis.
Mauris condimentum, turpis in pellentesque efficitur, justo metus accumsan nib
, pretium vehicula quam dui nec nibh. Fusce id aliquet lectus. In ante risus,
ultrices hendrerit vulputate a, finibus nec nibh. Nam maximus libero in porta
laoreet. Mauris ac imperdiet purus, id posuere mi.

Donec dapibus turpis vel suscipit mattis. Vestibulum tristique ligula nibh, id
luctus enim malesuada at. Curabitur non congue nibh. In vitae nulla nisi.
Phasellus condimentum volutpat posuere. Maecenas accumsan leo velit.
Pellentesque eleifend tincidunt hendrerit. Aliquam fermentum blandit nisl a
rhoncus. Vivamus pellentesque risus id quam posuere, nec varius neque pulvina
. Nam sagittis leo nec erat convallis, ac gravida ligula ultricies. Aenean sit
amet sollicitudin eros. Quisque sodales laoreet consectetur. Etiam venenatis
dolor at pellentesque sollicitudin. Aliquam non blandit justo.

Nulla sapien ex, scelerisque ac fringilla et, rhoncus id mi. Aliquam mattis
purus sed purus hendrerit, vitae semper justo eleifend. Donec pellentesque
tempus ex. Morbi neque ante, tincidunt ut leo sit amet, tristique congue quam.
Suspendisse ut erat nisi. Nunc nec lectus viverra, volutpat enim eget,
lobortis lacus. Duis risus massa, suscipit at condimentum nec, vestibulum eu
velit. Nullam placerat condimentum diam nec mollis. Aliquam ut velit sed
tellus varius rhoncus. Duis dapibus dui non gravida faucibus. Nulla facilisi.
Ut accumsan suscipit magna et fringilla. Nunc erat ipsum, mollis sit amet
rutrum quis, mollis eget neque. Phasellus mi ante, tincidunt eget dictum quis,
fermentum sed turpis.
    </text>
{{ end }}
