{{ define "body" }}
    <style> alignment: [center, start] </style>
    <text eid="title">This is a blog.</text>
    <text>
        <style>
            width: 0.5
            height: 10
            overflow: [scroll, scroll]
            frame: light

            \> Slider.-scroll:
                rail: "^"
        </style>
Lorem ipsum dolor sit amet, [blue]consectetur adipiscing elit. Sed imperdiet nisi eget volutpat facilisis. Fusce rhoncus convallis erat vestibulum gravida.  Proin in aliquam odio. Donec fermentum [red]tortor sed dolor condimentum, nec euismod tellus rutrum. Cras quis ultrices nisi. Suspendisse potenti. Proin lacinia velit id malesuada mollis. Vestibulum hendrerit ut urna at volutpat.  Morbi fringilla eros nec interdum iaculis. Duis elementum dolor ut mauris condimentum volutpat.

Lorem ipsum dolor sit amet, [blue]consectetur adipiscing elit. Sed imperdiet nisi eget volutpat facilisis. Fusce rhoncus convallis erat vestibulum gravida.  Proin in aliquam odio. Donec fermentum [red]tortor sed dolor condimentum, nec euismod tellus rutrum. Cras quis ultrices nisi. Suspendisse potenti. Proin lacinia velit id malesuada mollis. Vestibulum hendrerit ut urna at volutpat.  Morbi fringilla eros nec interdum iaculis. Duis elementum dolor ut mauris condimentum volutpat.

Lorem ipsum dolor sit amet, [blue]consectetur adipiscing elit. Sed imperdiet nisi eget volutpat facilisis. Fusce rhoncus convallis erat vestibulum gravida.  Proin in aliquam odio. Donec fermentum [red]tortor sed dolor condimentum, nec euismod tellus rutrum. Cras quis ultrices nisi. Suspendisse potenti. Proin lacinia velit id malesuada mollis. Vestibulum hendrerit ut urna at volutpat.  Morbi fringilla eros nec interdum iaculis. Duis elementum dolor ut mauris condimentum volutpat.

Lorem ipsum dolor sit amet, [blue]consectetur adipiscing elit. Sed imperdiet nisi eget volutpat facilisis. Fusce rhoncus convallis erat vestibulum gravida.  Proin in aliquam odio. Donec fermentum [red]tortor sed dolor condimentum, nec euismod tellus rutrum. Cras quis ultrices nisi. Suspendisse potenti. Proin lacinia velit id malesuada mollis. Vestibulum hendrerit ut urna at volutpat.  Morbi fringilla eros nec interdum iaculis. Duis elementum dolor ut mauris condimentum volutpat.

Lorem ipsum dolor sit amet, [blue]consectetur adipiscing elit. Sed imperdiet nisi eget volutpat facilisis. Fusce rhoncus convallis erat vestibulum gravida.  Proin in aliquam odio. Donec fermentum [red]tortor sed dolor condimentum, nec euismod tellus rutrum. Cras quis ultrices nisi. Suspendisse potenti. Proin lacinia velit id malesuada mollis. Vestibulum hendrerit ut urna at volutpat.  Morbi fringilla eros nec interdum iaculis. Duis elementum dolor ut mauris condimentum volutpat.

Lorem ipsum dolor sit amet, [blue]consectetur adipiscing elit. Sed imperdiet nisi eget volutpat facilisis. Fusce rhoncus convallis erat vestibulum gravida.  Proin in aliquam odio. Donec fermentum [red]tortor sed dolor condimentum, nec euismod tellus rutrum. Cras quis ultrices nisi. Suspendisse potenti. Proin lacinia velit id malesuada mollis. Vestibulum hendrerit ut urna at volutpat.  Morbi fringilla eros nec interdum iaculis. Duis elementum dolor ut mauris condimentum volutpat.

Lorem ipsum dolor sit amet, [blue]consectetur adipiscing elit. Sed imperdiet nisi eget volutpat facilisis. Fusce rhoncus convallis erat vestibulum gravida.  Proin in aliquam odio. Donec fermentum [red]tortor sed dolor condimentum, nec euismod tellus rutrum. Cras quis ultrices nisi. Suspendisse potenti. Proin lacinia velit id malesuada mollis. Vestibulum hendrerit ut urna at volutpat.  Morbi fringilla eros nec interdum iaculis. Duis elementum dolor ut mauris condimentum volutpat.
    </text>
{{ end }}
