{{ define "counter" }}
<button>
    Current value: $count
    <script>
        count = 0

        function on_submit()
            count = count + 1
        end

        function pre_content()
            if count >= 10 then
                self.palette = "error"
            end
        end
    </script>
</button>
{{ end }}
