{{ define "body" }}
    <tower>
        <tower>
            <script>
                open = false

                function init()
                    for i=0, 10 do
                        self.append(Text{"This is #" .. i})
                    end
                end

                on_change("open", function(value)
                    self.set_group("open", value)
                end)
            </script>
            <style>
                height: 1
                overflow: [hidden, hidden]

                .open:
                    height: shrink
            </style>
            <button @click="open = !open">
                Toggle
            </button>
        </tower>
    </tower>
{{ end }}
