{{ define "header" }}
<row eid="header">
    <style>height: 1</style>
    <text>[~/]Welcome!</text>
    <text group="pad">[0]</text>
    {{ range .Pages }}
        {{ if eq . "" }}
            {{ continue }}
        {{ end }}
        <link group={{ if eq . $.Page }} "active" {{ else }} "" {{ end }}>{{ . }}</link>
    {{ end }}
</row>
{{ end }}
<celx version="0">
    <page title={{ if eq .Page "home" }} "" {{ else }} "{{ .Page }}" {{ end }}>
        <style src="/static/styles.yaml"></style>
        <tower eid="root">
            <script src="/static/script.lua"></script>
            {{ template "header" . }}
            <tower eid="body">
                {{ template "body" . }}
            </tower>
        </tower>
    </page>
</celx>
